@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  background-color: #eee;
}

@font-face {
  font-family: Cal;
  src: url('../static/fonts/cal/fonts/otf/CalSans-SemiBold.otf') format("opentype");
}