@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

  @layer base {
    body, .roboto {
      font-family: Roboto, ui-sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .open-sans {
      font-family: "Open Sans", Sans-Serif;
    }
  }
  
  
 .article-body, .article-body * {
   all: initial;
  font-family: "Roboto";
 }
 
 .article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  margin-block: 1.5em;
  font-family: "Open Sans";
  overflow-wrap: break-word;
  text-overflow: wrap;
}

.article-body h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  display: block;
}

.article-body h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5em;
  display: block;
}

.article-body h3 {
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.5em;
  display: block;
}

.article-body h4 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.5em;
  display: block;
}

.article-body h5 {
  font-size: 0.83em;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin-bottom: 0.5em;
  display: block;
}

.article-body h6 {
  font-size: 0.67em;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: 0;
  margin-bottom: 0.5em;
  display: block;
}


.article-body p {
  margin: 1em 0;
}

.article-body pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 16px;
  overflow: scroll;
  font-size: 14px;
  display: block;
}

.article-body code {
  font-family: 'Courier New', monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  overflow: scroll;
  margin-top: 10px;
}

.article-body table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

.article-body th,
.article-body td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.article-body a {
  color: #007bff;
  text-decoration: none;
}

.article-body a:hover {
  text-decoration: underline;
}

.article-body img, a > img {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-body img, a > img {
  @apply rounded-xl;
}

/* Additional styles for different types of media files */
.article-body .video {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
}

.article-body .audio {
  max-width: 100%;
  margin: 1em 0;
}

